<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="${title}"></title>
<style>
th, td {
	padding: 5px;
}

td span {
	font-size: 90%;
	font-style: italic;
	color: red;
}

.error {
	color: red;
	font-style: italic;
}
</style>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<!-- Custom fonts for this template-->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link href="css/upload-download.css" rel="stylesheet">
</head>
<body class="bg-gradient-primary">

	<div class="container">

		<!-- Outer Row -->
		<div class="row justify-content-center">

			<div class="col-xl-10 col-lg-12 col-md-9">

				<div class="card o-hidden border-0 shadow-lg my-5">
					<div class="card-body p-0">
						<!-- Nested Row within Card Body -->
						<div class="row">
							<div class="col-lg-3"></div>
							<div class="col-lg-6">
								<div class="p-5">
									<div class="text-center">
										<h1 class="h4 text-gray-900 mb-4">User Registration to YAS Data
											Encryption Centre</h1>
									</div>
									<div th:if="${errorMessage != null}" th:utext="${errorMessage}"
										class="error">...</div>

									<form class="user" th:action="@{/register}"
										th:object="${appUserForm}" method="POST">
										<div class="form-group">
											<table>
												<tr>
													<td>User Name</td>
													<td><input class="form-control form-control-user"
														type="text" th:field="*{userName}" /></td>
													<td><span th:if="${#fields.hasErrors('userName')}"
														th:errors="*{userName}">..</span></td>
												</tr>
												<tr>
													<td>Password</td>
													<td><input class="form-control form-control-user"
														type="password" th:field="*{password}" /></td>
													<td><span th:if="${#fields.hasErrors('password')}"
														th:errors="*{password}">..</span></td>
												</tr>
												<tr>
													<td>Confirm</td>
													<td><input class="form-control form-control-user"
														type="password" th:field="*{confirmPassword}" /></td>
													<td><span
														th:if="${#fields.hasErrors('confirmPassword')}"
														th:errors="*{confirmPassword}">..</span></td>
												</tr>
												<tr>
													<td>Email</td>
													<td><input class="form-control form-control-user"
														type="text" th:field="*{email}" /></td>
													<td><span th:if="${#fields.hasErrors('email')}"
														th:errors="*{email}">..</span></td>
												</tr>
												<tr>
													<td>First Name</td>
													<td><input class="form-control form-control-user"
														type="text" th:field="*{firstName}" /></td>
													<td><span th:if="${#fields.hasErrors('firstName')}"
														th:errors="*{firstName}">..</span></td>
												</tr>
												<tr>
													<td>Last Name</td>
													<td><input class="form-control form-control-user"
														type="text" th:field="*{lastName}" /></td>
													<td><span th:if="${#fields.hasErrors('lastName')}"
														th:errors="*{lastName}">..</span></td>
												</tr>
												<tr>
													<td>Gender</td>
													<td><select class="form-control" th:field="*{gender}">
															<option selected value="">Select</option>
															<option value="M">Male</option>
															<option value="F">Female</option>
													</select></td>
													<td><span th:if="${#fields.hasErrors('gender')}"
														th:errors="*{gender}">..</span></td>
												</tr>
												<tr>
													<td>&nbsp;</td>
													<td><input class="btn btn-primary btn-user btn-block" type="submit" value="Submit" /> <a
														th:href="@{/}">Cancel</a></td>
													<td>&nbsp;</td>
												</tr>
											</table>
										</div>
									</form>
								</div>
							</div>
							<div class="col-lg-3"></div>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>


	<!-- Custom scripts for all pages-->
	<script src="js/upload-download.min.js"></script>
</body>
</html>